*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: sans-serif;
}

h3.movietitle{
    color: white;
    margin: 3px 10px 7px 10px;
    width: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a.active{
    color: whitesmoke;
    padding: 14px 16px;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.top_nav{
    display: flex;
    justify-content: space-between;
}

input#search_query{
    background-color: rgb(44, 35, 35);
    color: rgb(232, 205, 205);
    border: lightgray 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
}

img.thumbnail{
    margin: 0px 10px;
    width:95%;
    border-radius: 7px;
}

div.column{
    /* float: left; */
    padding: 10px;
}

div.row{
    width: 30%;
}

div.card{
    border: 1px solid rgb(72, 0, 0);
    border-radius: 7px;
    padding: 10px;
    /* width: 30%; */
}

section#movielist{
    display: flex;
    flex-wrap: wrap;
}

/* API Request :
 https://api.themoviedb.org/3/movie/550?api_key=2b35fe5a583656cc9fff74222cbd3a51 */ */